@inherits LayoutComponentBase

<div class="min-h-screen bg-gray-50 text-slate-800 flex flex-col">
    <LayoutContent />

    <!-- Main Content -->
    <main class="flex-grow pb-20 md:pb-0">
        @Body
    </main>

    <Footer />
</div>

